apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: notes-web
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    spec:
      containers:
        - image: us-central1-docker.pkg.dev/newest-project-485620/notes/notes-web:latest
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: HOST
              value: 0.0.0.0
